Project Title:-Shopping site for electronics devices

Python Version:-Python 3.8.0a2

Django  Version:- 3.0.4

Package installed:-Pillow ,(bootstrap is used in html pages via its online link, so computer must have internate connected )

List Of Requirements Implimented:-
1)Login:-
-->User can Login in side the website to accessCart & otherfunctionality.
-->NewUser can Sign Up and after that he can Login.
2)Shop:-
-->This functionality contains the main Shoping webpage.
-->After Login User can see his Profile and Previous Orders.
-->User can send Query to Owner (websiteOwner) via contactus  functionality
-->User can know about site  via aboutus functionality
-->User can see Products and he can filter it  too catagory wise.
3)Cart:-
-->User can add Product into cart
-->User can remove Product from cart
-->User can see  the bill & place Order
4)Owner(Owner of website):-
-->Owner of site can login via:
	username=  admin@123
	password=  !@#admin!@#
-->Owner can Add New Product.
-->Owner can Remove Product.
-->Owner can See Query from Users
-->Owner can see List of Orders
-->Owner can see List of Users

Username & Password for Owner:-
owner can login via  normal login page of the website.
username=>  admin@123
password=>  !@#admin!@#

SuperUser 's Username & password:-
username=>  jenish
password=>  jenish