{% extends 'basic.html' %}

{% block title%} About Us{% endblock %}
{% block css %}
<style>
   footer
    {
            position: fixed;
            bottom: 0px;
            right: 0px;
            left: 0px;
            background-color: slategray;
            width: auto;
            bottom: 0px;
    }
</style>
{% endblock %}
{% block body %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Electronics Shop</h1>
      <p>Electronics Shop Ltd. is an Indian electronics commerce company based in Nadiad, India. Founded by Jenish Dholariya and Neel Boda in 2020, the company initially focused on mobiles sales, before expanding into other product categories such as consumer electronics like mobiles , tvs , laptops.

The company's website is initially made as a university project but after that founder found that it  can be used as selling the product online ,so founder started this company in a team of  two people and founder made this company profitable and after few years founder take funding from the Softbank of 1M$ and company exandation rate goes  very high and now you can see our growth and our commitment with customer &all 
clients.our vision & faith in how we can provide such great service to our customer .we are constsntly improving our customer service.We are  in planning of expand our  bussiness with many products  with great customer service. 
</p>
     
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>Name of Developer</h3>
        Name:- Dholariya Jenish Maheshkumar
        <br>
        Rollno:-CE031
        <br>
        Name:- Boda Neel Mansukhbhai
        <br>
        Rollno:-CE020
        <br>
        <br>
      </div>
      <div class="col-md-4">
        <h3>Email_Id's of Developers</h3>
        
        Jenish's Email Id :-dholariyajenish.ddjj@gmail.com<br>
        Neel's Email Id:-<br>neelboda4888@gmail.com
        <br>
      </div>
      <div class="col-md-4">
        <h3> Mobile_no of Developers </h3>
       
        Jenish:-(+91)9081826363
        </br>  
        Neel:-(+91)9586104516
      </div>
    </div>

    <hr>

  </div> 

</main>





{% endblock %}