{% extends 'basic.html' %}
{% block title %}login{% endblock %}
{% block css %}   
<style>
    footer
    {
            position: fixed;
            bottom: 0px;
            right: 0px;
            left: 0px;
            background-color: slategray;
            width: auto;
            bottom: 0px;
    }
    .loginBox {
    box-shadow: 5px 15px rgb(203, 221, 236);
    background-color: rgb(205, 247, 247);
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    border: none;
    height: 42vh;
}
input[type="text"],
[type="password"] {
    border-radius: 10px;
    border-color: #9494b8;
    width: 250px;
    padding: 10px;
}
.button:hover {
    background-color: slategray;
    color: white;
}
.button {
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid #9494b8;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
a.new:hover {
    background-color: slategray;
    color: white;
}


    
</style>
{% endblock %}
{% block body %} 
{{msg}}
    <body>
        <div class="loginBox">
        <form action="loginAuth" method="POST"> {% csrf_token %}
        <table border="0" align="center">
            <th colspan="2" align="center">
                <h3>SIGN IN</h3>
            </th>
            <tr>
                <td>
                   <h4> NAME</h4>
                </td>
                <td>
                    <input type="text" name="username">
                </td>
            </tr>
            <tr>
                <td>
                    <h4>PASSWORD</h4>
                </td>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="signup" class="new">create new account</a>
                </td>
                <td align="center">
                    <input type="submit" value="login" class="button">
                </td>
               
            </tr>
        </table>
        </form>
    </div>
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor%}
    
    </body>
    
{% endblock %} 
